.backgroundTodo {
  height: 120vh;
}

.viewBtn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.viewBtn button,
.viewBtn button:active,
.viewBtn button:focus
{
  background-color: #745C97;
  border-color: #745C97;
  outline-color: #745C97;
}

.viewBtn button:hover {
  background-color: #3DA35D;
}

.table {
  width: 95vw;
  background-color: #f9f9f9;
}