.switchbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: 1px solid rgb(206, 212, 218);
  /* padding: 8px 3px 8px 3px; */
  background-color: white;
  border-radius: 5px;
} 

.switchbox p {
  font-size: 11px;
  padding-top: 2px;
  padding-bottom: 7px;
  margin: 0;
}


.switch {
  transform: scale(1.4);
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}


@media (max-width: 665px) {
}